{{- if (and (eq .chezmoi.hostname "tpad") (not (stat "/.dockerenv"))) -}}
{{ include "private_dot_local/bin/executable_rclone-restore" -}}
{{- else }}
echo "Not on tpad host or in container, skipping gopass store restoration"
exit 0
{{- end }}