#!/usr/bin/bash

{{- if eq .chezmoi.hostname "tpad" }}
# docker-cleanup.timer hash: {{ include "private_dot_config/systemd/user/docker-cleanup.timer" | sha256sum }}
# docker-cleanup.service hash: {{ include "private_dot_config/systemd/user/docker-cleanup.service" | sha256sum }}
# zettelkasten-inotify.service hash: {{ include "private_dot_config/systemd/user/zettelkasten-inotify.service" | sha256sum }}
# rclone-backup.timer hash: {{ include "private_dot_config/systemd/user/rclone-backup.timer" | sha256sum }}
# rclone-backup.service hash: {{ include "private_dot_config/systemd/user/rclone-backup.service" | sha256sum }}
{{- end }}

set -euo pipefail

if ! command -v systemctl >/dev/null; then
  exit 0
fi

systemctl --user daemon-reload

{{ if eq .chezmoi.hostname "tpad" -}}
# Enable the units so they start on boot
systemctl --user enable docker-cleanup.timer
systemctl --user enable zettelkasten-inotify.service
systemctl --user enable rclone-backup.timer

# Restart them to pick up any changes (and start them if they weren't running)
systemctl --user restart docker-cleanup.timer
systemctl --user restart zettelkasten-inotify.service
systemctl --user restart rclone-backup.timer
{{- end }}
