#!/usr/bin/bash
# packages hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

set -euo pipefail

mise_cmd=$(which mise)
if command -v $mise_cmd > /dev/null; then
  $mise_cmd trust && $mise_cmd install
fi
