[core]
  pager = delta
  editor = nvim
  excludesFile = ~/.gitignore.everywhere
  excludesFile = .gitignore.local # Deprecated: use native per-project .git/info/exclude instead
[commit]
  # Note: before disabling, consider `--no-gpg-sign` where needed
  # example: git rebase --interactive --no-gpg-sign && git commit --amend
  gpgsign = true
[pull]
  ff = only
[push]
  default = simple
  autoSetupRemote = true
[url "git@github.com:"]
  insteadOf = git://github.com/
  insteadOf = https://github.com/
[alias]
  cl = clone
  co = checkout
  br = branch
  ci = commit
  st = status
  lg = log --oneline --decorate --graph --all
  r = remote
  re = remote
  sw = switch
[color]
  ui = true
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0
[delta]
  features = side-by-side line-numbers decorations
  syntax-theme = tokyonight_moon
  side-by-side = true
  hunk-header-style = syntax
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[merge]
  tool = nvimdiff
  conflictstyle = zdiff3
[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
[mergetool]
  prompt = true
[diff]
  colorMoved = default
[init]
  defaultBranch = main
[pager]
  branch = false
{{- if (env "DEVPOD" | eq "true") }}
[credential]
  helper = !'/usr/local/bin/devpod' agent git-credentials --port 12049
{{- end }}
