# vim: set filetype=toml:
[tools]
{{- if (and (eq .chezmoi.hostname "tpad") (not (stat "/.dockerenv")))}} 
# only for tpad itself, excluding containers running on it
"github:yt-dlp/yt-dlp" = "latest"
{{- end }}
{{- if ne .chezmoi.hostname "tpad"}} 
# for all hosts other than tpad (containers or not)
kubectl = "latest"
kubectx = "latest"
kubens = "latest"
helm = "latest"
"aqua:k9s" = "latest"
"aqua:fluxcd/flux2" = "latest"
{{- end}}
{{- if not (stat "/.dockerenv") }} 
# for hosts that are not a container
"github:olastor/age-plugin-fido2-hmac" = "latest"
"github:Foxboron/age-plugin-tpm" = "latest"
"github:str4d/age-plugin-yubikey" = "0.5.0"
{{- end}}
chezmoi = "latest"
neovim = "latest"
delta = "latest"
lazygit = "latest"
bat = "latest"
"aqua:tealdeer-rs/tealdeer" = "1.8.1"
"aqua:sharkdp/fd" = "latest"
"github:BurntSushi/ripgrep" = "latest"
"aqua:cli/cli" = "latest" #github-cli
"gitlab:gitlab-org/cli" = "latest" #gitlab-cli
"aqua:tree-sitter/tree-sitter" = "latest"
"github:fish-shell/fish-shell" = "latest"
"aqua:dprint/dprint" = "latest"
"aqua:mvdan/sh" = "latest" # shfmt
"github:pkgxdev/pkgx" = "latest"
"github:pkgxdev/pkgm" = "latest"
"github:AGWA/git-crypt" = "latest"
direnv = "latest"
node = "latest"
"vfox:https://github.com/markmals/mise-vite-plus" = "latest"
"github:sst/opencode" = "latest"
fzf = "latest"
age = "latest"
gopass = "latest"
sops = "latest"
gcloud = "latest"
[settings]
idiomatic_version_file_enable_tools = ["node"]
