[tools]
{{- if ne .chezmoi.hostname "tpad"}}
kubectl = "latest"
"aqua:k9s" = "latest"
"aqua:fluxcd/flux2" = "latest"
{{- end}}
{{- if eq .chezmoi.hostname "tpad"}}
"ubi:yt-dlp/yt-dlp" = "latest"
{{- end}}
chezmoi = "latest"
neovim = "latest"
bat = "latest"
"aqua:tealdeer-rs/tealdeer" = "latest"
"aqua:sharkdp/fd" = "latest"
"aqua:BurntSushi/ripgrep" = "latest"
"aqua:cli/cli" = "latest" #github-cli
"aqua:tree-sitter/tree-sitter" = "latest"
"aqua:fish-shell/fish-shell" = "latest"
"ubi:pkgxdev/pkgx" = "latest"
"ubi:pkgxdev/pkgm" = "latest"
"ubi:AGWA/git-crypt" = "latest"
direnv = "latest"
[settings]
idiomatic_version_file_enable_tools = ["node"]
